[submodule "plugins/zsh-autosuggestions"]
	path = plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
[submodule "plugins/zsh-syntax-highlighting"]
	path = plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "plugins/fast-syntax-highlighting"]
	path = plugins/fast-syntax-highlighting
	url = https://github.com/zdharma-continuum/fast-syntax-highlighting.git
[submodule "plugins/zsh-autocomplete"]
	path = plugins/zsh-autocomplete
	url = https://github.com/marlonrichert/zsh-autocomplete.git
[submodule "themes/powerlevel10k"]
	path = themes/powerlevel10k
	url = https://gitee.com/romkatv/powerlevel10k.git
[submodule "plugins/zsh-vim-mode"]
	path = plugins/zsh-vim-mode
	url = git@github.com:sharat87/zsh-vim-mode.git
