[submodule "plugins/zsh-autosuggestions"]
	path = plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
[submodule "themes/powerlevel10k"]
	path = themes/powerlevel10k
	url = https://gitee.com/romkatv/powerlevel10k.git
[submodule "plugins/zsh-vim-mode"]
	path = plugins/zsh-vim-mode
	url = git@github.com:sharat87/zsh-vim-mode.git
